body{
    background-color: white;
}

#dir-ops-container {
    display: flex;
}

.throbber {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  display: none
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.searchResultCard {
  border: 3px solid #3498db; /* Added space between solid and color */
  padding: 10px;
  display: grid;
  justify-items: start
}

#searchResultsContainer {
  display: grid;
  grid-template-columns: 1fr
}